<h1>SlackerWorld News</h1>

<div id="article-list">
  <% @articles.each do |article| %>
  <div class='article'>
    <h3> <%= "#{article.title}" %> </h3>
    <p> <%= "#{article.description}" %> </p>
    <a href= <%="#{article.url}"%> target="_blank">Link</a>
    </div>
  <% end %>
</div>

<div id="button-div">
  <a href="/articles/new">Submit an Article!</a>
</div>
