<h1>Articles</h1>

<ul id="article-list">
<% @articles.each do |article| %>
  <li><%="#{article.title}, #{article.description}"%><a href= <%="#{article.url}"%> target="_blank">Link</a></li>
<% end %>
</ul>
